{% extends "contests/layout.html" %}

{% load standard %}

{% block contest_title %} Contest Settings {% endblock %}

{% block content %}

{% if contest_context.is_observing %}
	{% url 'contests:unobserve' contest.code as unobserve_url %}
	{% action_form 'unobserve' 'stop observing' unobserve_url %}
{% else %}
	{% url 'contests:observe' contest.code as observe_url %}
	{% action_form 'observe' 'start observing' observe_url %}
{% endif %}

<p> See also: <a href="{% url 'contests:admin_hints' %}">Hints for Contest Admins</a> </p>

<form id="contest-settings-form" class="standard-form" action="{{ request.get_full_path }}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
        <li> <input type="submit" value="Save" /> </li>
    </ul>
</form>

{% endblock content %}
