{% extends "contests/layout.html" %}

{% block contest_title %} Send Submission {% endblock %}

{% block content %}

{% if contest_context.is_contest_admin %}

<p>
You are the administator of this contest. Your submission will be considered <strong>technical</strong> and won't count in the leaderboard.
</p>
{% endif %}

<form id="submit-form" class="standard-form" action="{% url 'contests:submit' contest.code %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
        <li> <input type="submit" value="Submit" /> </li>
    </ul>
</form>

{% endblock content %}
