{% extends "contests/layout.html" %}

{% load standard %}

{% block contest_title %} Submission {{ contest_submission.id }} (<em>{{stage_name}}</em>) {% endblock %}

{% block content %}
{% if contest_context.is_contest_admin %}
    {% action_form 'rejudge-single' 'rejudge' rejudge_url %}
{% endif %}

{% if result == 'score' %}
    <div class="submission-result">
        Score: <strong>{{submission.score}}</strong>
    </div>
{% elif result == 'waiting' %}
    <div class="submission-result">
        Waiting for score...
    </div>
{% elif result == 'rejected' %}
    <div class="submission-result bad-result">
        Rejected
        <div class="helptext">There is something wrong with your submission.</div>
    </div>
{% elif result == 'accepted' %}
    <div class="submission-result good-result">
        Accepted
        <div class="helptext">Exact score is not available at this point.</div>
    </div>
{% elif result == 'error' %}
    <div class="submission-result strange-result">
        Grading Error
        <div class="helptext">Don't worry. We'll take care of that.</div>
    </div>
{% else %}
    <div class="submission-result strange-result">
        ???
        <div class="helptext">???</div>
    </div>
{% endif %}

{% if contest_submission.stage.requires_selection %}
<div class="selection-box">
    <div class="selection-state">
        {% if contest_submission.selected %}
            <i class="material-icons selected-icon">grade</i> Selected <i class="material-icons selected-icon">grade</i>
        {% else %}
            <i class="material-icons not-selected-icon">clear</i>
            Not Selected
            <i class="material-icons not-selected-icon">clear</i>
        {% endif %}
    </div>
    {% if selection_change_active %}
        <div class="selection-change">
            {% if contest_submission.selected %}
                {% url 'contests:unselect_submission' contest.code contest_submission.id as unselect_url %}
                {% action_form 'unselect-action' 'unselect' unselect_url %}
            {% else %}
                {% url 'contests:select_submission' contest.code contest_submission.id as select_url %}
                {% action_form 'select-action' 'select this submission' select_url %}
            {% endif %}
            <div class="selection-remaining">
                remaining selections:
                    {% if remaining_selections != None %}
                        {{remaining_selections}}
                    {% else %}
                        ∞ {# infinity symbol #}
                    {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="helptext">Only selected submissions will count in the leaderboard for this stage.</div>
</div>
{% endif %}

<ul class="submission-details">
    <li>Submitted at: <strong>{{submission.created_at}}</strong></li>
    <li><a href="{% url 'contests:submission_answer' contest.code submission.id %}">Answer</a></li>
    <li><a href="{% url 'contests:submission_source' contest.code submission.id %}">Source Code</a></li>
</ul>

{% if result == 'rejected' or result == 'accepted' and submission.scoring_msg %}
    <div class="submission-scoring-msg">
        <h2>
            {% if result == 'rejected' %}
                Rejection Reason
            {% else %}
                Scoring Comment
            {% endif %}
        </h2>
        <pre>
            {{submission.scoring_msg}}
        </pre>
    </div>
{% endif %}

{% if contest_context.is_contest_admin %}
    <hr>
    <h2>Submission Information:</h2>
    <ul class="submission-details">
        <li>Score: {{submission.score}}</li>
        <li>Status: {{submission.scoring_status}}</li>
        <li>Marked for grading: {{submission.needs_grading}}</li>
        <li>Grading requested at: {{submission.needs_grading_at}}</li>
        <li>Current attempt id: {{submission.current_attempt.id}}</li>
    </ul>

    <div class="submission-scoring-msg">
        <h2>Scoring Message</h2>
        <pre>{{submission.scoring_msg}}</pre>
    </div>

    <h2>Grading history</h2>
    {% for attempt in grading_history %}
        <div class="submission-grading-attempt">
            <h3>Attempt Id: <strong>{{attempt.id}}</strong></h3>
            <ul class="submission-details">
                <li>Started at: {{attempt.created_at}}</li>
                <li>Finished at: {{attempt.finished_at}}</li>
                <li>Finished: {{attempt.finished}}</li>
                <li>Succed: {{attempt.succed}}</li>
                <li>Score: {{attempt.score}}</li>
                <li>Aborted: {{attempt.aborted}}</li>
                <li>Log: {% if attempt.log %}<a href={{attempt.log.url}}>{{attempt.log}} {% else %} nonexistent {% endif %}</a></li>
            </ul>
                <div class="submission-scoring-msg">
                    <h4>Scoring Message</h4>
                    <pre>{{submission.scoring_msg}}</pre>
                </div>
        </div>
    {% endfor %}
{% endif %}
{% endblock content %}
