{% extends "system/layout.html" %}

{% load standard %}

{% block content %}
<h1>Teams</h1>

{% if contest_context.can_create_team %}
	{% url 'contests:new_team' contest.code as new_team_url %}
	{% action_form 'new team' new_team_url %}
{% endif %}

<div class="teams-list">
	<ul>
	{% for team in teams %}
		<li>
			<a href="{% url 'contests:team' contest.code team.id %}">{{team.name}} </a>
			<ul>
				{% for member in team.member_list %}
					<li>
						{{member.user.get_full_name}}
					</li>
				{% empty %}
					Currently this team has no members.
				{% endfor %}
			</ul>
		</li>
	{% empty %}
	<p>
	There are currently no teams registered for this contest.
	{% endfor %}
	</ul>
</div>
{% endblock content %}
