{% extends "contests/layout.html" %}

{% block contest_title %} Teams {% endblock %}

{% block content %}
{% if contest_context.can_create_team %}
    <a class="action-button" href={% url 'contests:new_team' contest.code %}>new team</a>
{% endif %}
<div class="teams-list">
    {% if teams %}
    The teams in alphabetic order:
    <ol>
    {% for team in teams %}
        <li>
            <a href="{% url 'contests:team' contest.code team.id %}">{{team.name}} </a>
            <ul class="teams-member-list">
                {% for member in team.member_list %}
                    <li>
                        {{member.user.get_full_name}}
                    </li>
                {% empty %}
                    <li><em>No members</em></li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
    <p>
    {% endfor %}
    </ol>
    {% else %}
    <p> There are currently no teams registered for this contest.</p>
    {% endif %}
</div>
{% endblock content %}
