$link-color: #2277DD;
$success-color: #008800;
$ok-color: #00BB00;
$error-color: #B30000;
$hint-color: #888;

$debug-background-color: #eee;
$info-background-color: #ccf;
$success-background-color: #dfd;
$attention-background-color: #FFFF7F;
$error-background-color: #faa;

$link-color: #2277DD;
$link-background-color: #f2f2ff;
$link-darker-background-color: #ddf;

html {
    height: 100%
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);

.unselectable {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    user-select: none;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100%;
}

.container {
    height: 100%;
}

a {
    color: $link-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body > .container { height: auto; min-height: 100%; }

h1 {
    margin: 0;
    margin-bottom: 20px;
}

pre, code {
    font-size: 12px;
    font-family: 'Droid Sans Mono', monospace;
}

.messages {
    padding: 0px;
    margin: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    li {
        width: 100%;
        padding: 5px;
        font-size: 13px;
        margin: 0px;
    }
    .message-box {
        width: 100%;
        padding: 10px;
        padding-left: 5px;
        display: flex;
        align-items: center;
        p, pre {
            margin: 5px 0px;
        }
    }

    .message-box.debug {
        background-color: $debug-background-color;
        i.message-icon:after {
            content: 'build';
        }
    }
    .message-box.info {
        background-color: $info-background-color;
        i.message-icon:after {
            content: 'info';
        }
    }
    .message-box.success {
        background-color: $success-background-color;
        i.message-icon:after {
            content: 'done';
        }
    }
    .message-box.warning {
        background-color: $attention-background-color;
        i.message-icon:after {
            content: 'warning';
        }
    }
    .message-box.error {
        background-color: $error-background-color;
        i.message-icon:after {
            content: 'error';
        }
    }
    .message-icon {
        height: 100%;
        font-size: 24px;
        display: inline-block;
        padding: 5px 7px;
    }

    .message {
        height: 100%;
        display: inline-block;
    }
}

.action-button {
    @extend .unselectable;
    border: 1px solid $link-color;
    color: $link-color;
    background-color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: 4px 0px;
    display: block;
    height: 30px;
    width: 140px;
    box-sizing: border-box;
    display: inline-block;
}

button {
    @extend .action-button;
}

.action-button:hover {
    text-decoration: none;
    background-color: $link-background-color;
}

.action-button:focus {
    outline: none;
    text-decoration: none;
    /* it looks ugly when it stays after clicking
     * but there is no focus indication now
     * background-color: $link-background-color; */
}

.action-button:active {
    text-decoration: none;
    background-color: $link-darker-background-color;
}

.left-pane {
    h2 {
        @extend .unselectable;
        font-size: 18px;
        font-variant: small-caps;
        font-weight: 900;
        margin-bottom: 2px;
        margin-top: 10px;
    }
    .logo img {
        @extend .unselectable;
        width: 150px;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding-top: 3px;
        }
        margin-bottom: 10px;
    }
    height:100%;
    width:180px;
    float: left;
    padding:20px;
    padding-left: 20px;
    padding-right: 30px;
    margin-top: 0px;
}

.menu-item {
    @extend .unselectable;
    font-size: 13px;
    a {
        color: $link-color;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

.page-content {
    float: left;
    width: 700px;
    padding: 20px;
    font-size: 16px;
    h1 {
        font-size: 35px;
        text-align: center;
    }
    h2 {
        font-size: 25px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
    h3 {
        font-size: 19px;
    }
    .news-item p {
        margin-top: 0px;
    }
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
    height: 3em;
    text-align: left;
    width: 100%;
    font-size: 10px;
    padding: 5px;
}

.global-message {
    padding: 7px;
    clear: both;
    text-align: center;
    background-color: $attention-background-color;
    p {
        margin: 0px;
    }
};

.action-form {
    input[type=submit] {
        @extend .action-button;
    }
    display: inline-block;
}

.helptext {
    color: $hint-color;
    font-size: 10px;
}

fieldset {
    border: none;
}

$input-width: 400px;
.standard-form {
    ul {
        width:700px;
        list-style-type:none;
        list-style-position:outside;
        margin:0px;
        padding:0px;
    }

    h2 {
        margin:0;
        display: inline;
    }

    >ul>li {
        padding-top: 0px;
        padding-bottom: 20px;
        margin:10px;
        position:relative;
    }

    .input-error {
        border: 1px dotted $error-color;
    }

    .errorlist {
        color: $error-color;
        padding-top: 5px;
        padding-bottom: 5px;
        li {
            padding-left: 3px;
        }
    }

    label {
        width:120px;
        margin-top: 3px;
        display:inline-block;
        float:left;
        padding:3px;
    }

    input {
        box-sizing: border-box;
        height: 30px;
        width: $input-width;
        padding: 5px 8px;
    }

    textarea {
        box-sizing: border-box;
        width: $input-width;
        padding:5px 8px;
    }

    input[type=submit] {
        @extend .action-button;
        width: $input-width;
        height: 30px;
        margin-left: 126px;
    }

    button {
        width: $input-width;
        height: 30px;
        margin-left: 126px;
    }

    select {
        background: transparent;
        box-sizing: border-box;
        height: 30px;
        width: $input-width;
        padding: 5px 8px;
        -webkit-appearance: none;
    }

    .helptext {
        display:block;
        padding-top: 5px;
        padding-right: 5px;
        padding-left: 5px;
        margin-left: 126px;
        width: $input-width;
    }

    .upload-input-ctrl {
        display: block;
        font-size: 12px;
        margin-left: 126px;
        label {
            padding-left: 0px;
            width: 50px;
        }
        .pseudo-label {
            display: inline-block;
            padding-left: 0px;
            width: 50px;
        }
        input {
            padding: 0px;
        }
        .upload-input-part {
            padding: 5px;
        }
    }

}

.left-user {
    padding-top: 5px;
    font-size: 13px;
}

.logout-button {
    @extend .action-button;
    width: 108px;
    height: 20px;
    padding: 0px;
}

.current-user {
    padding-top: 2px;
    padding-bottom: 4px;
    font-weight: bold;
    width: 110px;
    .current-user-username {
        text-transform: none;
        font-variant: normal;
        font-weight: normal;
    }
}

.left-user form {
    ul {
        width: 108px;
    }

    li {
        padding: 2px 0;
        border-bottom: 0px;
    }

    input {
        width: 100px;
        padding: 2px 2px;
    }

    .submit {
        text-align: center;
    }

    input[type=submit] {
        @extend .action-button;
        width: 108px;
        height: 20px;
        padding: 0px;
    }
}

.paginated-list {
    ul {
        padding: 0px;
    }
    li {
        list-style-type: none;
        height: 20px;
    }
}

.all-contests-list {
    @extend .paginated-list
}

.result-table {
    margin: 20px;
    width: 640px;
    border-collapse: collapse;
    th, td {
        border: 1px dotted #aaa;
    }
    td {
        padding: 5px 10px;
    }
    .position-cell {
        width: 30px;
        text-align: center;
    }
    .team-cell {
        text-align: left;
        .team-members {
            color: $hint-color;
            font-size: 11px;
            margin: 0px;
            padding: 0px;
            list-style: none;
            li {
                display: inline;
            }
            li:after {
                content: ", ";
            }
            li:last-child:after {
                content: "";
            }
        }
    }
    .score-cell {
        width: 100px;
        text-align: center;
    }
}

table {
    margin: 10px;
    th, td {
        padding: 6px 12px;
        border: 1px solid #ddd;
    }
}

.contest-subtitle {
    font-size: 18px;
    font-weight: normal;
}

.submission-table {
    font-size: 14px;
    width: 100%;
    tr {
        cursor: pointer;
        height: 30px;
        @extend .unselectable;
    }
    tr.submission_row:hover {
        background-color: $link-background-color;
    }
    tr.submission_row:active {
        background-color: $link-darker-background-color;
    }
    .selected-cell {
        text-align: center;
        vertical-align: center;
        padding: 0px;
    }
    .result-cell {
        padding: 6px;
        width: 150px;
        text-align: center;
    }
    .stage-cell {
        text-align: center;
    }
}

.result-part {
    text-align: center;
}

.main-result > .submission-result {
    width: 320px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.submission-result.accepted-result {
    background-color: $success-background-color;
    .helptext {
        color: black;
    }
}

.submission-result.rejected-result {
    background-color: $error-background-color;
    .helptext {
        color: black;
    }
}

.submission-result.error-result {
    background-color: $attention-background-color;
    .helptext {
        color: black;
    }
}

.submission-result.strange-result {
    @extend .error-result;
}

.submission-details {
    list-style-type: none;
    padding: 0px;
}

.submission-scoring-msg {
    pre {
        padding: 6px;
        border: 1px dotted $hint-color;
    }
}

.submission-grading-attempt {
    padding: 20px;
    margin: 10px;
    border: 1px dashed $hint-color;
    h3 {
        margin: 0px;
        margin-bottom: 3px;
    }
    h4 {
        margin: 0px;
        margin-top: 14px;
    }
}

.selection-box {
    text-align: center;
    font-size: 12px;
    padding: 10px;
    .action-form {
        input[type=submit] {
            text-transform: uppercase;
            padding: 0px;
            width: auto;
            border: 0px;
            height: auto;
        }
    }
    .selection-remaining {
        display: block;
    }
}

.selection-state {
    text-transform: uppercase;
    font-size: 22px;
    i.material-icons {
        position: relative;
        top: 3px;
    }
}

.selected-icon {
    color: $ok-color;
}
.not-selected-icon {
    color: $error-color;
}

.teams-list > ol > li {
    margin-bottom: 8px;
}

.teams-member-list {
    list-style-type: none;
    font-size: 12px;
    padding-left: 0px;
}

.link-copy-form {
    .link-copy-description {
        display: inline-block;
        padding: 10px;
        margin: 0px;
    }
    input {
        width: 550px;
        border: 1px solid $link-color;
        padding: 5px;
        margin: 0px;
    }
}

.email_list {
    .ctrlHolder {
        padding: 10px 0px;
    }
    button {
        width: 180px;
    }
    .unverified {
        color: $error-color;
    }
    .verified {
        color: $success-color;
    }
    .primary {
        font-weight: bold;
        padding: 1px;
    }
}

.contest-status {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        li {
            margin: 0px;
            padding: 0px;
        }
    }
}

.page-status {
    /*position: absolute;
    top: 25px;
    left: 760px;*/
    margin-top: 10px;
    margin-bottom: 0px;
    width: 180px;
}
