@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
html {
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%; }

.container {
  height: 100%; }

a {
  color: #2277DD;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body > .container {
  height: auto;
  min-height: 100%; }

h1 {
  margin: 0; }

pre {
  font-size: 12px;
  font-family: "Droid Sans Mono"; }

.action-button, .action-form input[type=submit], .standard-form input[type=submit], .logout-button, .left-user form input[type=submit] {
  display: table-cell;
  border: 1px solid #2277DD;
  color: #2277DD;
  background-color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle; }

a.action-button:hover, a.logout-button:hover {
  text-decoration: none; }

.left-pane {
  height: 100%;
  width: 150px;
  float: left;
  padding: 10px;
  padding-right: 30px;
  margin-top: 0px; }
  .left-pane h2 {
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 900;
    margin-bottom: 2px; }
  .left-pane .logo img {
    width: 150px; }
  .left-pane ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .left-pane ul li {
      padding-top: 3px; }

.menu-item {
  font-size: 13px; }
  .menu-item a {
    color: #2277DD;
    text-decoration: none; }
  .menu-item a:hover {
    text-decoration: underline; }

.page-content {
  float: left;
  width: 700px;
  padding: 10px; }
  .page-content h1 {
    font-size: 35px;
    text-align: center; }
  .page-content h2 {
    font-size: 18px;
    margin-bottom: 3px; }
  .page-content .news-item p {
    margin-top: 0px; }

.footer {
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -3em;
  height: 3em;
  text-align: left;
  width: 100%;
  font-size: 10px;
  padding: 5px; }

.global-message {
  padding: 7px;
  clear: both;
  text-align: center;
  background-color: #FFFF7F; }

.action-form input[type=submit] {
  height: 30px;
  width: 100px; }

.standard-form ul {
  width: 700px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px; }
.standard-form h2 {
  margin: 0;
  display: inline; }
.standard-form > ul > li {
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 10px;
  position: relative; }
.standard-form .input-error {
  border: 1px solid #B30000; }
.standard-form .errorlist {
  color: #B30000;
  padding-top: 5px;
  padding-bottom: 5px; }
  .standard-form .errorlist li {
    padding-left: 3px; }
.standard-form label {
  width: 120px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px; }
.standard-form input {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  padding: 5px 8px; }
.standard-form textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 5px 8px; }
.standard-form input[type=submit] {
  height: 30px;
  margin-left: 126px; }
.standard-form .helptext {
  font-size: 10px;
  color: #888;
  display: block;
  padding-top: 5px;
  padding-right: 5px;
                   /*
margin-bottom: 0px;*/
  padding-left: 5px;
  margin-left: 126px;
  width: 400px; }
.standard-form .upload-input-ctrl {
  display: block;
  font-size: 12px;
  margin-left: 126px; }
  .standard-form .upload-input-ctrl label {
    padding-left: 0px;
    width: 50px; }
  .standard-form .upload-input-ctrl .pseudo-label {
    display: inline-block;
    padding-left: 0px;
    width: 50px; }
  .standard-form .upload-input-ctrl input {
    padding: 0px; }
  .standard-form .upload-input-ctrl .upload-input-part {
    padding: 5px; }

.left-user {
  padding-top: 20px;
  font-size: 13px; }

.logout-button {
  width: 108px;
  height: 20px;
  padding: 0px; }

.current-user {
  padding-top: 2px;
  padding-bottom: 4px;
  font-weight: bold;
  width: 110px; }
  .current-user .current-user-username {
    text-transform: none;
    font-variant: normal;
    font-weight: normal; }

.left-user form ul {
  width: 108px; }
.left-user form li {
  padding: 2px 0;
  border-bottom: 0px; }
.left-user form input {
  width: 100px;
  padding: 2px 2px; }
.left-user form .submit {
  text-align: center; }
.left-user form input[type=submit] {
  width: 108px;
  height: 20px;
  padding: 0px; }

.paginated-list ul, .all-contests-list ul {
  padding: 0px; }
.paginated-list li, .all-contests-list li {
  list-style-type: none;
  height: 20px; }

/*
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #45a049;
}
*/

/*# sourceMappingURL=style.css.map */
