@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans+Mono);
html {
  height: 100%; }

.unselectable, .action-button, button, .action-form input[type=submit], .standard-form input[type=submit], .logout-button, .left-user form input[type=submit], .left-pane h2, .left-pane .logo img, .menu-item, .submission-table tr {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
  user-select: none; }

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%; }

.container {
  height: 100%; }

a {
  color: #2277DD;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

body > .container {
  height: auto;
  min-height: 100%; }

h1 {
  margin: 0;
  margin-bottom: 20px; }

pre, code {
  font-size: 12px;
  font-family: 'Droid Sans Mono', monospace; }

.messages {
  padding: 0px;
  margin: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  list-style-type: none; }
  .messages li {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    margin: 0px; }
  .messages .message-box {
    width: 100%;
    padding: 10px;
    padding-left: 5px;
    display: flex;
    align-items: center; }
    .messages .message-box p, .messages .message-box pre {
      margin: 5px 0px; }
  .messages .message-box.debug {
    background-color: #eee; }
    .messages .message-box.debug i.message-icon:after {
      content: 'build'; }
  .messages .message-box.info {
    background-color: #ccf; }
    .messages .message-box.info i.message-icon:after {
      content: 'info'; }
  .messages .message-box.success {
    background-color: #dfd; }
    .messages .message-box.success i.message-icon:after {
      content: 'done'; }
  .messages .message-box.warning {
    background-color: #FFFF7F; }
    .messages .message-box.warning i.message-icon:after {
      content: 'warning'; }
  .messages .message-box.error {
    background-color: #faa; }
    .messages .message-box.error i.message-icon:after {
      content: 'error'; }
  .messages .message-icon {
    height: 100%;
    font-size: 24px;
    display: inline-block;
    padding: 5px 7px; }
  .messages .message {
    height: 100%;
    display: inline-block; }

.action-button, button, .action-form input[type=submit], .standard-form input[type=submit], .logout-button, .left-user form input[type=submit] {
  border: 1px solid #2277DD;
  color: #2277DD;
  background-color: white;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 4px 0px;
  display: block;
  height: 30px;
  width: 140px;
  box-sizing: border-box;
  display: inline-block; }

.action-button:hover, button:hover, .action-form input[type=submit]:hover, .standard-form input[type=submit]:hover, .logout-button:hover, .left-user form input[type=submit]:hover {
  text-decoration: none;
  background-color: #f2f2ff; }

.action-button:focus, button:focus, .action-form input[type=submit]:focus, .standard-form input[type=submit]:focus, .logout-button:focus, .left-user form input[type=submit]:focus {
  outline: none;
  text-decoration: none;
  /* it looks ugly when it stays after clicking
   * but there is no focus indication now
   * background-color: $link-background-color; */ }

.action-button:active, button:active, .action-form input[type=submit]:active, .standard-form input[type=submit]:active, .logout-button:active, .left-user form input[type=submit]:active {
  text-decoration: none;
  background-color: #ddf; }

.left-pane {
  height: 100%;
  width: 180px;
  float: left;
  padding: 20px;
  padding-left: 20px;
  padding-right: 30px;
  margin-top: 0px; }
  .left-pane h2 {
    font-size: 18px;
    font-variant: small-caps;
    font-weight: 900;
    margin-bottom: 2px;
    margin-top: 10px; }
  .left-pane .logo img {
    width: 150px; }
  .left-pane ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px; }
    .left-pane ul li {
      padding-top: 3px; }

.menu-item {
  font-size: 13px; }
  .menu-item a {
    color: #2277DD;
    text-decoration: none; }
  .menu-item a:hover {
    text-decoration: underline; }

.page-content {
  float: left;
  width: 700px;
  padding: 20px;
  font-size: 16px; }
  .page-content h1 {
    font-size: 35px;
    text-align: center; }
  .page-content h2 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 5px; }
  .page-content h3 {
    font-size: 19px; }
  .page-content .news-item p {
    margin-top: 0px; }

.footer {
  clear: both;
  position: relative;
  z-index: 10;
  margin-top: -3em;
  height: 3em;
  text-align: left;
  width: 100%;
  font-size: 10px;
  padding: 5px; }

.global-message {
  padding: 7px;
  clear: both;
  text-align: center;
  background-color: #FFFF7F; }
  .global-message p {
    margin: 0px; }

.action-form {
  display: inline-block; }

.helptext {
  color: #888;
  font-size: 10px; }

fieldset {
  border: none; }

.standard-form ul {
  width: 700px;
  list-style-type: none;
  list-style-position: outside;
  margin: 0px;
  padding: 0px; }
.standard-form h2 {
  margin: 0;
  display: inline; }
.standard-form > ul > li {
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 10px;
  position: relative; }
.standard-form .input-error {
  border: 1px dotted #B30000; }
.standard-form .errorlist {
  color: #B30000;
  padding-top: 5px;
  padding-bottom: 5px; }
  .standard-form .errorlist li {
    padding-left: 3px; }
.standard-form label {
  width: 120px;
  margin-top: 3px;
  display: inline-block;
  float: left;
  padding: 3px; }
.standard-form input {
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  padding: 5px 8px; }
.standard-form textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 5px 8px; }
.standard-form input[type=submit] {
  width: 400px;
  height: 30px;
  margin-left: 126px; }
.standard-form button {
  width: 400px;
  height: 30px;
  margin-left: 126px; }
.standard-form select {
  background: transparent;
  box-sizing: border-box;
  height: 30px;
  width: 400px;
  padding: 5px 8px;
  -webkit-appearance: none; }
.standard-form .helptext {
  display: block;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
  margin-left: 126px;
  width: 400px; }
.standard-form .upload-input-ctrl {
  display: block;
  font-size: 12px;
  margin-left: 126px; }
  .standard-form .upload-input-ctrl label {
    padding-left: 0px;
    width: 50px; }
  .standard-form .upload-input-ctrl .pseudo-label {
    display: inline-block;
    padding-left: 0px;
    width: 50px; }
  .standard-form .upload-input-ctrl input {
    padding: 0px; }
  .standard-form .upload-input-ctrl .upload-input-part {
    padding: 5px; }

.left-user {
  padding-top: 5px;
  font-size: 13px; }

.logout-button {
  width: 108px;
  height: 20px;
  padding: 0px; }

.current-user {
  padding-top: 2px;
  padding-bottom: 4px;
  font-weight: bold;
  width: 110px; }
  .current-user .current-user-username {
    text-transform: none;
    font-variant: normal;
    font-weight: normal; }

.left-user form ul {
  width: 108px; }
.left-user form li {
  padding: 2px 0;
  border-bottom: 0px; }
.left-user form input {
  width: 100px;
  padding: 2px 2px; }
.left-user form .submit {
  text-align: center; }
.left-user form input[type=submit] {
  width: 108px;
  height: 20px;
  padding: 0px; }

.paginated-list ul, .all-contests-list ul {
  padding: 0px; }
.paginated-list li, .all-contests-list li {
  list-style-type: none;
  height: 20px; }

.result-table {
  margin: 20px;
  width: 640px;
  border-collapse: collapse; }
  .result-table th, .result-table td {
    border: 1px dotted #aaa; }
  .result-table td {
    padding: 5px 10px; }
  .result-table .position-cell {
    width: 30px;
    text-align: center; }
  .result-table .team-cell {
    text-align: left; }
    .result-table .team-cell .team-members {
      color: #888;
      font-size: 11px;
      margin: 0px;
      padding: 0px;
      list-style: none; }
      .result-table .team-cell .team-members li {
        display: inline; }
      .result-table .team-cell .team-members li:after {
        content: ", "; }
      .result-table .team-cell .team-members li:last-child:after {
        content: ""; }
  .result-table .score-cell {
    width: 100px;
    text-align: center; }

table {
  margin: 10px; }
  table th, table td {
    padding: 6px 12px;
    border: 1px solid #ddd; }

.contest-subtitle {
  font-size: 18px;
  font-weight: normal; }

.submission-table {
  font-size: 14px;
  width: 100%; }
  .submission-table tr {
    cursor: pointer;
    height: 30px; }
  .submission-table tr.submission_row:hover {
    background-color: #f2f2ff; }
  .submission-table tr.submission_row:active {
    background-color: #ddf; }
  .submission-table .selected-cell {
    text-align: center;
    vertical-align: center;
    padding: 0px; }
  .submission-table .result-cell {
    padding: 6px;
    width: 150px;
    text-align: center; }
  .submission-table .stage-cell {
    text-align: center; }

.result-part {
  text-align: center; }

.main-result > .submission-result {
  width: 320px;
  text-align: center;
  font-size: 30px;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black; }

.submission-result.accepted-result {
  background-color: #dfd; }
  .submission-result.accepted-result .helptext {
    color: black; }

.submission-result.rejected-result {
  background-color: #faa; }
  .submission-result.rejected-result .helptext {
    color: black; }

.submission-result.error-result, .submission-result.strange-result {
  background-color: #FFFF7F; }
  .submission-result.error-result .helptext, .submission-result.strange-result .helptext {
    color: black; }

.submission-details {
  list-style-type: none;
  padding: 0px; }

.submission-scoring-msg pre {
  padding: 6px;
  border: 1px dotted #888; }

.submission-grading-attempt {
  padding: 20px;
  margin: 10px;
  border: 1px dashed #888; }
  .submission-grading-attempt h3 {
    margin: 0px;
    margin-bottom: 3px; }
  .submission-grading-attempt h4 {
    margin: 0px;
    margin-top: 14px; }

.selection-box {
  text-align: center;
  font-size: 12px;
  padding: 10px; }
  .selection-box .action-form input[type=submit] {
    text-transform: uppercase;
    padding: 0px;
    width: auto;
    border: 0px;
    height: auto; }
  .selection-box .selection-remaining {
    display: block; }

.selection-state {
  text-transform: uppercase;
  font-size: 22px; }
  .selection-state i.material-icons {
    position: relative;
    top: 3px; }

.selected-icon {
  color: #00BB00; }

.not-selected-icon {
  color: #B30000; }

.teams-list > ol > li {
  margin-bottom: 8px; }

.teams-member-list {
  list-style-type: none;
  font-size: 12px;
  padding-left: 0px; }

.link-copy-form .link-copy-description {
  display: inline-block;
  padding: 10px;
  margin: 0px; }
.link-copy-form input {
  width: 550px;
  border: 1px solid #2277DD;
  padding: 5px;
  margin: 0px; }

.email_list .ctrlHolder {
  padding: 10px 0px; }
.email_list button {
  width: 180px; }
.email_list .unverified {
  color: #B30000; }
.email_list .verified {
  color: #008800; }
.email_list .primary {
  font-weight: bold;
  padding: 1px; }

.contest-status {
  font-size: 10px;
  margin: 0px;
  padding: 0px; }
  .contest-status ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px; }
    .contest-status ul li {
      margin: 0px;
      padding: 0px; }

.page-status {
  /*position: absolute;
  top: 25px;
  left: 760px;*/
  margin-top: 10px;
  margin-bottom: 0px;
  width: 180px; }

/*# sourceMappingURL=style.css.map */
