<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Page title</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css"> -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- <script src="script.js"></script> -->
  </head>
  <body>
    <div class="left-pane">
      <div class="logo">
        <img src="/static/logo-prototype.png">
      </div>
      <div class="contest-menu">
        <h2>Contest Menu</h2>
        <ul>
          <li class="menu-item"><a href="#">Description</a></li>
          <li class="menu-item"><a href="#">Leaderboard</a></li>
          <li class="menu-item"><a href="#">Submissions</a></li>
          <li class="menu-item"><a href="#">Rules</a></li>
        </ul>
      </div>
      <div class="system-menu">
        <h2>System Menu</h2>
        <ul>
          <li class="menu-item"><a href="#">Announcements</a></li>
          <li class="menu-item"><a href="#">Contests</a></li>
          <li class="menu-item"><a href="#">User Settings</a></li>
        </ul>
      </div>
    </div>
    <div class="page-content">
      <h1>Announcements</h1>
    </div>
    <div class="footer">
      <center>sbarzowski@talent.edu.pl</center>
    </div>
  </body>
</html>
