<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} {{ title }} {% endblock %} </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/highlighting-github.css">
  </head>
  <body>
    <div class="container">
      {% if system_settings.global_message.html %}
        <div class="global-message">
          {{system_settings.global_message.html|safe}}
        </div>
      {% endif %}
      <div class="left-pane">
        {% include "system/left-pane.html" %}
      </div>
      <div class="page-content">
        <h1>{% block content_title %} {{ content_title }} {% endblock %}</h1>
        {% if messages %}
          <ul class="messages">
              {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><div message-icon><i class="material-icons message-icon"></i></div> <div class=message>{{ message }} </div> </li>
              {% endfor %}
          </ul>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% if system_settings.footer.html %}
      <div class="footer">
        {{system_settings.footer.html|safe}}
      </div>
    {% endif %}
  </body>
</html>
