<div class="logo">
  <a href={{logo_link}}><img src="/static/logo-prototype.png"></a>
</div>

{% if contest %}
  <div class="contest-menu">
    <h2>contest menu</h2>
    <ul>
      <li class="menu-item">
        <a href="{% url 'contests:description' contest.code %}">Description</a>
      </li>
      <li class="menu-item">
        <a href="{% url 'contests:rules' contest.code %}">Rules</a>
      </li>
      {% if contest_context.can_submit %}
        <li class="menu-item"><a href="{% url 'contests:submit' contest.code %}">Send Submission</a></li>
      {% endif %}
      {% if contest_context.user_team or contest_context.is_contest_admin %}
        <li class="menu-item"><a href="{% url 'contests:my_submissions' contest.code %}">My Submissions</a></li>
      {% endif %}
      {% if contest_context.can_see_all_submissions %}
        <li class="menu-item"><a href="{% url 'contests:submissions' contest.code %}">Submissions</a></li>
      {% endif %}
      {% if contest_context.can_see_verification_leaderboard %}
        <li class="menu-item"><a href="{% url 'contests:leaderboard' contest.code contest.verification_stage_id %}">Public Leaderboard</a></li>
      {% endif %}
      {% if contest_context.can_see_test_leaderboard %}
        <li class="menu-item"><a href="{% url 'contests:leaderboard' contest.code contest.test_stage_id %}">Final Leaderboard</a></li>
      {% endif %}
      {% if contest_context.user_team %}
        <li class="menu-item"><a href="{% url 'contests:team' contest.code contest_context.user_team.id %}">My Team</a></li>
      {% endif %}
        <li class="menu-item"><a href="{% url 'contests:teams' contest.code %}">Teams</a></li>
      {% if contest_context.is_contest_admin %}
        <li class="menu-item"><a href="{% url 'contests:setup' contest.code %}">Settings</a></li>
        <li class="menu-item"><a href="{% url 'contests:rejudge' contest.code %}">Rejudge</a></li>
      {% endif %}
    </ul>
  </div>
{% endif %}
<div class="system-menu">
  <h2>system menu</h2>
  <ul>
    <li class="menu-item"><a href="{% url 'news' %}">News</a></li>
    {% if request.user.is_authenticated %}
    <li class="menu-item"><a href="{% url 'contests:list' %}">Contests</a></li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li class="menu-item"><a href="{% url 'contests:setup_new' %}">New Contest</a></li>
    <li class="menu-item"><a href="{% url 'admin:index' %}">Admin Panel</a></li>
    {% endif %}
    {% if request.user.is_authenticated %}
    <li class="menu-item"><a href="{% url 'user_settings' %}">User Settings</a></li>
    {% endif %}
  </ul>
</div>

<div class="left-user">
  {% if user.is_authenticated %}
    <div class="current-user">
      User:
      <span class="current-user-username"> {{user.username}} </span>
    </div>
    <a class="logout-button" href="{% url 'logout' %}">log out</a>
  {% else %}
    <form method="post" action="{% url 'login' %}?next={% firstof request.GET.next redirect_next request.path %}">
      {% csrf_token %}
      <ul>
        <li>
          <input id="left_username" maxlength="254" name="username" type="text" placeholder="Username">
        </li>
        <li>
          <input id="left_password" name="password" type="password" placeholder="Password">
        </li>
        <li>
          <input type="submit" value="log in" />
        </li>
      </ul>
    </form>
  {% endif %}
</div>
